/* desktop */

.desktop {
  display: none;
}

.header-navigation,
.header-invite {
  display: none;
}

.mobile-hide {
  display: block;
}

main {
  padding-top: 65px;
}

button::after {
  content: none;
}

header li:hover:before {
  transform: scaleX(0);
}

/* end */

.header-container {
  width: 87.5%;
  height: 65px;
}

.header-hamburger {
  display: flex;
}

.hamburger-btn {
  background: transparent;
  border: none;
}

.mobile {
  display: block;
  position: absolute;
  top: -75px;
  right: 0;
  width: 100%;
}

.mobile-nav {
  display: none;
}

.bg {
  position: absolute;
  display: flex;
  justify-content: center;
}

.bg::after {
  display: none;
}

.mobile-navigation {
  position: absolute;
  background: white;
  width: 87.5%;
  text-align: center;
  margin: 6.25%;
  border-radius: 5px;
}

.mobile-navigation a {
  text-decoration: none;
  list-style: none;
  color: hsl(233, 26%, 24%);
}

.mobile-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 35px 0;
}

.mobile-link {
  font-size: 18px;
}

.mobile-transparent-bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(hsl(233, 26%, 24%), hsla(233, 26%, 24%, 0));
}

.mockup {
  width: 92%;
  position: relative;
  z-index: 998;
  top: -133px;
}

.intro {
  text-align: center;
  margin: 95vw 0 90px;
}

.intro-container {
  padding: 0;
  width: 87.5%;
}

.intro-left {
  margin: auto;
}

.intro-left h1 {
  font-size: 40px;
}

.intro-left p {
  font-size: 16px;
}

.why {
  text-align: center;
}

.why-header h2 {
  font-size: 35px;
}

.why-header p {
  font-size: 16px;
}

.why-reasons {
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10vw;
}

.why-reason {
  align-items: center;
}

.why-container {
  padding: 75px 0;
  width: 87.5%;
}

.articles {
  width: 87.5%;
}

.article-header {
  text-align: center;
}

.article-container {
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.article-img {
  overflow: hidden;
}

.article-img img {
  width: 100%;
  height: initial;
}

.articles h2 {
  font-size: 35px;
  padding-bottom: 35px;
}

footer {
  height: auto;
  padding: 50px 0;
}

.footer-container {
  width: 100%;
  margin: 0;
  height: auto;
  flex-direction: column;
  gap: 35px;
}

.footer-left-social {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footer-left-left {
  margin: 0;
  text-align: center;
  gap: 20px;
}

.footer-socials {
  text-align: center;
  gap: 20px;
}

.footer-left-right {
  flex-direction: column;
  gap: 15px;
}

footer ul {
  text-align: center;
}

.footer-right {
  text-align: center;
  gap: 20px;
}

.footer-nav {
  gap: 15px;
}
